:root {
  --accent-color: #0fb333;
  --on-accent-color: #ffffff;
  --accent-dark-color: #0a8c27;

  --input-background-color: #eaeaea;
  --input-border-color: #cccccc;

  --popup-background-color: #ffffff;
  --popup-shadow-color: #cccccc;
}

.button {
  padding: 5px 15px;
  border: 2px solid var(--input-border-color);
  border-radius: 5px;
  background-color: var(--input-background-color);
  font-weight: bold;
}

.button:active {
  background-color: var(--input-border-color);
}

.button.accent {
  border-color: var(--accent-dark-color);
  background-color: var(--accent-color);
  color: var(--on-accent-color);
}

.button.accent:active {
  background-color: var(--accent-dark-color);
}
